<template>
  <md-layout>
    <md-layout md-flex="50" md-flex-offset="25">
      <md-layout md-column md-gutter>
        <md-card>
          <md-card-header>
            <div class="md-title">Account info</div>
          </md-card-header>

          <md-card-content>
            <form novalidate @submit.stop.prevent>
              <md-input-container :class="{'md-input-invalid' : name === ''}">
                <md-icon class="md-primary">account_circle</md-icon>
                <label>Name</label>
                <md-input type="text" v-model="name"></md-input>
                <span class="md-error">Name can't be empty, bro!</span>
              </md-input-container>
            </form>
          </md-card-content>

          <md-card-actions>
            <md-button @click.native="save">Save</md-button>
          </md-card-actions>

        </md-card>


      </md-layout>
    </md-layout>
  </md-layout>
</template>

<script>
var Vuex = require('vuex')
export default {
  data () {
    return {
      name: ''
    }
  },
  computed: Vuex.mapGetters([
    'currentUser'
  ]),
  watch: {
    currentUser (value) {
      if (value) this.name = value.name
    }
  },
  methods: {
    save () {
      if (this.name.trim().length > 0) {
        this.$store.dispatch('changeName', this.name.trim())
        this.$router.push({name: 'Index'})
      }
    }
  },
  mounted () {
    this.$nextTick(() => {
      if (this.currentUser) this.name = this.currentUser.name
    })
  }
}
</script>

<style lang="sass">

</style>
