<template>
  <md-layout>
    <md-layout md-flex="80" md-flex-offset="10">
      <md-layout md-column md-gutter>

        <md-table-card>
          <md-toolbar class="md-transparent" v-if="selectedRows.length === 0">
            <h1 class="md-title" style="flex: 1">Nutrition</h1>
            <md-button class="md-icon-button" @click.native="filterList = !filterList">
              <md-icon>filter_list</md-icon>
            </md-button>
          </md-toolbar>
          <md-toolbar class="md-accent" v-if="selectedRows.length > 0">
            <h1 class="md-title" style="flex: 1">Selected {{selectedRows.length}} items</h1>
            <md-button class="md-icon-button" @click.native="deleteProducts">
              <md-icon>delete</md-icon>
            </md-button>
          </md-toolbar>

          <md-table ref="table" @sort="sortProducts">
            <md-table-header>
              <md-table-row>
                <md-table-cell width="1px">
                </md-table-cell>
                <md-table-head class="uid">UID</md-table-head>
                <md-table-head md-sort-by="title">Title</md-table-head>
                <md-table-head md-sort-by="description">Description</md-table-head>
                <md-table-head>Image</md-table-head>
                <md-table-head md-numeric md-sort-by="price">Price</md-table-head>
                <md-table-head md-numeric md-sort-by="stock">Stock</md-table-head>
                <md-table-head></md-table-head>
              </md-table-row>
            </md-table-header>

            <md-table-body>
              <md-table-row v-if="filterList">
                <md-table-cell width="1px">
                  <md-icon>filter_list</md-icon>
                </md-table-cell>
                <md-table-cell class="uid">
                  <md-input-container md-inline>
                    <label></label>
                    <md-input v-model="filters['.key']"></md-input>
                  </md-input-container>
                  </md-table-cell>
                <md-table-cell>
                  <md-input-container md-inline>
                    <label></label>
                    <md-input v-model="filters.title"></md-input>
                  </md-input-container>
                  </md-table-cell>
                <md-table-cell>
                  <md-input-container md-inline>
                    <label></label>
                    <md-input v-model="filters.description"></md-input>
                  </md-input-container>
                  </md-table-cell>
                <md-table-cell>
                  <md-input-container md-inline>
                    <label></label>
                    <md-input v-model="filters.image"></md-input>
                  </md-input-container>
                  </md-table-cell>
                <md-table-cell md-numeric>
                  <md-input-container md-inline>
                    <label></label>
                    <md-input type="number" v-model="filters.price"></md-input>
                  </md-input-container>
                  </md-table-cell>
                <md-table-cell md-numeric>
                  <md-input-container md-inline>
                    <label></label>
                    <md-input type="number" v-model="filters.stock"></md-input>
                  </md-input-container>
                  </md-table-cell>
                <md-table-cell></md-table-cell>
              </md-table-row>

              <md-table-row v-for="(product, index) in productsComputed" :key="product['.key']" :md-item="product">
                <md-table-cell>
                  <md-checkbox @change="toggleSelect($event, product['.key'])"></md-checkbox>
                </md-table-cell>
                <md-table-cell key=".key" class="uid">
                  {{product['.key']}}
                  <md-tooltip md-direction="bottom">{{product['.key']}}</md-tooltip>
                </md-table-cell>
                <md-table-cell key="title">{{product.title}}</md-table-cell>
                <md-table-cell key="description">{{product.description}}</md-table-cell>
                <md-table-cell key="image">
                  <img style="max-height: 24px" :src="product.image">
                  <md-tooltip md-direction="bottom">{{product.image}}</md-tooltip>
                </md-table-cell>
                <md-table-cell key="price" md-numeric>
                  {{product.price.toLocaleString('ro-RO', { style: 'currency', currency: 'EUR' })}}
                  <md-tooltip md-direction="bottom">{{product.price}}</md-tooltip>
                </md-table-cell>
                <md-table-cell key="stock" md-numeric>
                  {{product.stock.toLocaleString('ro-RO')}}
                  <md-tooltip md-direction="bottom">{{product.stock}}</md-tooltip>
                </md-table-cell>
                <md-table-cell key="edit">
                  <md-button class="md-icon-button" @click.native="editProduct(product['.key'])">
                    <md-icon>edit</md-icon>
                  </md-button>
                </md-table-cell>
              </md-table-row>
            </md-table-body>
          </md-table>

          <md-table-pagination ref="pagination"
            md-size="5"
            :md-total="filteredSize"
            md-page="1"
            md-label="Rows"
            md-separator="of"
            :md-page-options="[5, 10, 25, 50]"
            @pagination="onPagination">
          </md-table-pagination>
        </md-table-card>

      </md-layout>
    </md-layout>

    <md-dialog-confirm
      md-title="You sure you wanna delete them products?"
      md-content-html="You won't be able to undo this shit!"
      md-ok-text="Yeah, fuck 'em"
      md-cancel-text="Oh shit, nope, nope, take me back"
      @close="onCloseConfirm"
      ref="dialogDelete">
    </md-dialog-confirm>

    <md-dialog md-open-from="#fab" md-close-to="#fab" ref="dialog" class="product-dialog">
      <md-dialog-title>{{selectedProduct.key ? 'Edit' : 'Add a new'}} product</md-dialog-title>

      <md-dialog-content>
        <form>
          <md-input-container :class="{'md-input-invalid' : errors.title != ''}">
            <md-icon>title</md-icon>
            <label>Title</label>
            <md-input v-model="selectedProduct.title"></md-input>
            <span class="md-error">{{errors.title}}</span>
          </md-input-container>
          <md-input-container :class="{'md-input-invalid' : errors.description != ''}">
            <md-icon>description</md-icon>
            <label>Description</label>
            <md-textarea v-model="selectedProduct.description"></md-textarea>
            <span class="md-error">{{errors.description}}</span>
          </md-input-container>
          <md-input-container :class="{'md-input-invalid' : errors.image != ''}">
            <md-icon>photo_camera</md-icon>
            <label>Image URL</label>
            <md-input v-model="selectedProduct.image"></md-input>
            <img :src="selectedProduct.image" style="height: 32px">
            <span class="md-error">{{errors.image}}</span>
          </md-input-container>
          <md-input-container :class="{'md-input-invalid' : errors.price != ''}">
            <md-icon>attach_money</md-icon>
            <label>Price</label>
            <md-input type="number" v-model="selectedProduct.price"></md-input>
            <span class="md-error">{{errors.price}}</span>
          </md-input-container>
          <md-input-container :class="{'md-input-invalid' : errors.stock != ''}">
            <md-icon>shopping_basket</md-icon>
            <label>Stock</label>
            <md-input type="number" v-model="selectedProduct.stock"></md-input>
            <span class="md-error">{{errors.stock}}</span>
          </md-input-container>
        </form>
      </md-dialog-content>

      <md-dialog-actions>
        <md-button class="md-primary" @click.native="closeDialog('dialog')">Cancel</md-button>
        <md-button class="md-primary" @click.native="saveProduct('dialog')">Save</md-button>
      </md-dialog-actions>
    </md-dialog>

    <md-button class="md-fab md-fab-bottom-right" id="fab" @click.native="openDialog('dialog')">
      <md-icon>add</md-icon>
    </md-button>
  </md-layout>
</template>

<script>
var Vuex = require('vuex')
export default {
  computed: {
    ...Vuex.mapGetters([
      'products'
    ]),
    productsComputed () {
      let products = []
      if (!this.sort) {
        products = this.products
      } else {
        products = this.products.sort((a, b) => {
          let order = this.sort.type === 'asc' ? 1 : -1
          return (a[this.sort.name] < b[this.sort.name] ? -1 : 1) * order
        })
      }

      if (this.activeFilters.length) {
        products = products.filter(product => {
          let result = this.activeFilters.filter(key => !product[key].toString().includes(this.filters[key].toString()))
          return result.length === 0
        })
      }

      // hack I have to employ because VueMaterial is buggy
      this.filteredSize = products.length
      if (this.$refs.pagination) {
        this.$refs.pagination.totalItems = this.filteredSize
        if (this.filteredSize < this.pagination.size) {
          this.$refs.pagination.currentPage = 1
          this.pagination.page = 1
        }
      }
      // end hack

      let startIndex = (this.pagination.page - 1) * this.pagination.size
      products = products.slice(startIndex, startIndex + this.pagination.size)
      return products
    },
    activeFilters () {
      return Object.keys(this.filters).filter(key => this.filters[key].toString().trim() !== '')
    }
  },
  data () {
    return {
      selectedProduct: {
        title: '',
        description: '',
        image: '',
        price: '',
        stock: ''
      },
      errors: {
        title: '',
        description: '',
        image: '',
        price: '',
        stock: ''
      },
      filters: {
        '.key': '',
        title: '',
        description: '',
        image: '',
        price: '',
        stock: ''
      },
      selectedRows: [],
      sort: null,
      filterList: false,
      pagination: {
        size: 5,
        page: 1
      },
      filteredSize: 0
    }
  },
  watch: {
    'filterList' (n, o) {
      if (!n) {
        this.filters = {
          '.key': '',
          title: '',
          description: '',
          image: '',
          price: '',
          stock: ''
        }
      }
    }
  },
  methods: {
    onPagination (e) {
      this.pagination = e
      // hack because of VM bugs; without bugs I could just v-model checkboxes to an array
      this.selectedRows = []
      // end hack
    },
    sortProducts (sort) {
      this.sort = sort
    },
    editProduct (key) {
      let product = this.products.find(item => item['.key'] === key)
      this.selectedProduct.key = key
      this.selectedProduct.title = product.title
      this.selectedProduct.description = product.description
      this.selectedProduct.image = product.image
      this.selectedProduct.price = product.price
      this.selectedProduct.stock = product.stock
      this.$refs.dialog.open()
    },
    saveProduct () {
      this.selectedProduct.title = this.selectedProduct.title.trim()
      this.selectedProduct.description = this.selectedProduct.description.trim()
      this.selectedProduct.image = this.selectedProduct.image.trim()
      this.selectedProduct.price = parseFloat(this.selectedProduct.price)
      this.selectedProduct.stock = parseFloat(this.selectedProduct.stock)
      if (this.check4Errors()) {
        this.$store.dispatch('saveProduct', this.selectedProduct)
        this.closeDialog('dialog')
      }
    },
    deleteProducts () {
      this.$refs.dialogDelete.open()
    },
    onCloseConfirm (action) {
      if (action === 'ok') {
        this.$store.dispatch('deleteProducts', this.selectedRows)
        this.selectedRows = []
      }
    },
    openDialog (dialog) {
      this.$refs.dialog.open()
    },
    closeDialog (dialog) {
      this.$refs.dialog.close()
      this.selectedProduct = {
        title: '',
        description: '',
        image: '',
        price: '',
        stock: ''
      }
      this.errors = {
        title: '',
        description: '',
        image: '',
        price: '',
        stock: ''
      }
    },
    check4Errors () {
      let ok = true
      this.errors = {
        title: '',
        description: '',
        image: '',
        price: '',
        stock: ''
      }
      if (this.selectedProduct.title.length === 0) {
        ok = false
        this.errors.title = 'Title can\'t be empty, bro!'
      }
      if (this.selectedProduct.description.length === 0) {
        ok = false
        this.errors.description = 'Description can\'t be empty, bro!'
      }
      if (this.selectedProduct.image.length === 0) {
        ok = false
        this.errors.image = 'Image can\'t be empty, bro!'
      }
      if (isNaN(this.selectedProduct.price)) {
        ok = false
        this.errors.price = 'Price can\'t be empty, bro!'
      } else if (this.selectedProduct.price <= 0) {
        ok = false
        this.errors.price = 'You mad, bro? You can\'t be giving shit for free!'
      }
      if (isNaN(this.selectedProduct.stock)) {
        ok = false
        this.errors.stock = 'Stock can\'t be empty, bro!'
      }
      return ok
    },
    toggleSelect (value, key) {
      // this entire method is a hack because of VM bugs
      if (value) {
        this.selectedRows.push(key)
      } else {
        this.selectedRows.splice(this.selectedRows.findIndex(item => item === key), 1)
      }
    }
  }
}
</script>

<style lang="sass">
  .md-table .md-table-cell .md-button .md-icon
    margin: auto !important

  .uid
    max-width: 100px
    white-space: nowrap

    .md-table-cell-container
      overflow: hidden

  .product-dialog
    .md-dialog
      min-width: 50vw
</style>
