<template>
  <md-layout>
    <md-layout md-flex="50" md-flex-offset="25">
      <md-layout md-column md-gutter>
        <md-card>
          <md-card-header>
            <div class="md-title">Authentication</div>
          </md-card-header>

          <md-card-content>
            <form novalidate @submit.stop.prevent>
              <md-input-container :class="{'md-input-invalid' : errors.email != ''}">
                <md-icon class="md-primary">email</md-icon>
                <label>Email</label>
                <md-input type="email" v-model="email"></md-input>
                <span class="md-error">{{errors.email}}</span>
              </md-input-container>

              <md-input-container md-has-password :class="{'md-input-invalid' : errors.password != ''}">
                <md-icon class="md-primary">lock</md-icon>
                <label>Password</label>
                <md-input type="password" v-model="password"></md-input>
                <span class="md-error">{{errors.password}}</span>
              </md-input-container>
            </form>
          </md-card-content>

          <md-card-actions>
            <md-button @click.native="signIn">Sign in</md-button>
            <md-button @click.native="register">Register</md-button>
          </md-card-actions>
        </md-card>
      </md-layout>
    </md-layout>
  </md-layout>
</template>

<script>
var Vuex = require('vuex')
export default {
  data () {
    return {
      email: '',
      password: ''
    }
  },
  computed: Vuex.mapGetters([
    'errors', 'currentUser'
  ]),
  watch: {
    currentUser (n, o) {
      if (n) this.$router.push({name: 'Index'})
    },
    email () {
      this.$store.commit('setErrors', {email: ''})
    },
    password () {
      this.$store.commit('setErrors', {password: ''})
    }
  },
  methods: {
    signIn () {
      this.$store.dispatch('signIn', {email: this.email, password: this.password})
    },
    register () {
      this.$store.dispatch('createUser', {email: this.email, password: this.password})
    }
  }
}
</script>

<style lang="sass">

</style>
