<template>
  <md-layout md-gutter="24">
    <md-layout v-for="product in products" md-flex-xsmall="100" md-flex-small="50" md-flex-medium="33" md-flex-large="25" md-flex-xlarge="20" >
      <md-card style="width: 100%">
        <md-card-header>
          <div class="md-title">{{product.title}}</div>
          <div class="md-subhead">
            <md-icon>attach_money</md-icon> <span>{{product.price.toLocaleString('ro-RO', { style: 'currency', currency: 'EUR' })}}</span>
            <md-icon>shopping_basket</md-icon> <span>{{product.stock.toLocaleString('ro-RO')}}</span>
          </div>
        </md-card-header>
        <md-card-media>
          <img :src="product.image" alt="People">
        </md-card-media>


        <md-card-content>
          {{product.description}}
        </md-card-content>
      </md-card>
    </md-layout>
  </md-layout>
</template>

<script>
var Vuex = require('vuex')
export default {
  name: 'index',
  computed: Vuex.mapGetters([
    'products'
  ])
}
</script>

<style lang="sass" scoped>
  .md-gutter-24:not(.md-column)>.md-layout
    padding-bottom: 24px

  .md-subhead
    display: flex
    justify-content: flex-start
    align-items: center

    .md-icon
      margin: 0 12px !important

      &:first-child
        margin-left: 0 !important

  .md-card-media
    height: 0
    overflow: hidden
      /* 16:9 ratio */
    padding-bottom: 56.25%
    display: block
    content: ''

  .md-card-content
    height: 200px
    overflow-y: auto
</style>
