<template>
  <div id="app">
    <md-toolbar>
      <md-button class="md-icon-button" @click.native="toggleLeftSidenav">
       <md-icon>menu</md-icon>
      </md-button>

      <h2 class="md-title" style="flex: 1">DevAcademy Vue+Firebase Store</h2>

      <md-button v-if="currentUser" @click.native="goTo('account')">
        <md-icon>account_circle</md-icon>
        {{currentUser.name === 'Anonymous' ? currentUser.email : currentUser.name}}
      </md-button>
      <md-button v-if="currentUser" @click.native="signOut">
        <md-icon>exit_to_app</md-icon>
        Sign out
      </md-button>
      <md-button v-if="!currentUser" @click.native="goTo('login')">
        <md-icon>account_circle</md-icon>
        Sign in
      </md-button>
    </md-toolbar>

    <md-sidenav class="md-left" ref="leftSidenav">
      <md-toolbar>
        <div class="md-toolbar-container">
          <h3 class="md-title">Menu</h3>
        </div>
      </md-toolbar>

      <md-list>
        <md-list-item>
          <router-link :to="{name: 'Index'}" @click.native="toggleLeftSidenav" exact>Index</router-link>
        </md-list-item>
        <md-list-item v-if="currentUser">
          <router-link :to="{name: 'Account'}" @click.native="toggleLeftSidenav">Account</router-link>
        </md-list-item>
        <md-list-item v-if="currentUser && currentUser.admin">
          <router-link :to="{name: 'Admin'}" @click.native="toggleLeftSidenav">Admin</router-link>
        </md-list-item>
      </md-list>
    </md-sidenav>
    <md-layout style="padding: 24px">
      <router-view></router-view>
    </md-layout>
  </div>
</template>

<script>
var Vuex = require('vuex')
export default {
  name: 'app',
  computed: Vuex.mapGetters([
    'currentUser'
  ]),
  methods: {
    toggleLeftSidenav () {
      this.$refs.leftSidenav.toggle()
    },
    goTo (where) {
      if (where === 'login') {
        this.$router.push({name: 'LogIn'})
      } else if (where === 'account') {
        this.$router.push({name: 'Account'})
      }
    },
    signOut () {
      this.$store.dispatch('signout', this)
    }
  },
  mounted () {
  }
}
</script>

<style>
</style>
